<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="company">

	<!-- 등록 -->
	<insert id="insert">
		INSERT INTO company (
		company_id, 
		company_pw, 
		company_name, 
		company_email, 
		<if test="companyZipcode != null">company_zipcode,</if>
		<if test="companyAdd1 != null">company_add1,</if>
		<if test="companyAdd2 != null">company_add2,</if> 
		company_contact1, 
		<if test="companyContact2 != null">company_contact2,</if>
		company_bn,
		company_agree,
		<if test="companyFax != null">company_fax</if>
		) VALUES (
		#{companyId}, 
		#{companyPw}, 
		#{companyName},
		#{companyEmail}, 
		<if test="companyZipcode != null">#{companyZipcode},</if> 
		<if test="companyAdd1 != null">#{companyAdd1},</if> 
		<if test="companyAdd2 != null">#{companyAdd2},</if> 
		#{companyContact1}, 
		<if test="companyContact2 != null">#{companyContact2},</if>
		#{companyBn},
		#{companyAgree},
		<if test="companyFax != null">#{companyFax}</if> 
		)
	</insert>
	
	<!-- 조회 전체 검색 -->
	<select id="list" resultType="CompanyDto">
		select * from company
	</select>
	
	<!-- 상세 -->
	<select id="find" resultType="CompanyDto">
		select * from company where
		company_id = #{companyId}
	</select>

	<!-- 비밀번호 변경 -->
	<update id="updatePw">
	    update company 
	    set company_pw = #{companyPw} 
	    where company_id = #{companyId}
	</update>
	
	<!-- 로그인 시간 업뎃 -->
	<update id="updateLogin">
		update company set company_login = CURRENT_TIMESTAMP where company_id = #{companyId}
	</update>
	
	<!-- 사업자 번호 찾기 -->
	<select id="bn" resultType="CompanyDto">
		select * from company where company_bn = #{companyBn}
	</select>

</mapper>