<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">

	<!-- 회원가입 -->
	<insert id="insert">
		INSERT INTO member (
		member_id, 
		member_pw, 
		member_name, 
		<if test="memberBirth != null">member_birth,</if>
		member_email, 
		<if test="memberZipcode != null"> member_zipcode,</if> 
		<if test="memberAdd1 != null">member_add1,</if> 
		<if test="memberAdd2 != null">member_add2,</if> 
		member_contact1, 
		<if test="memberContact2 != null">member_contact2,</if>
		<if test="memberInterest != null">member_interest,</if> 
		<if test="memberJob != null">member_job</if>
		) VALUES (
		#{memberId}, 
		#{memberPw}, 
		#{memberName}, 
		<if test="memberBirth != null">#{memberBirth},</if>
		#{memberEmail}, 
		<if test="memberZipcode != null">#{memberZipcode}, </if> 
		<if test="memberAdd1 != null">#{memberAdd1}, </if> 
		<if test="memberAdd2 != null">#{memberAdd2}, </if> 
		#{memberContact1}, 
		<if test="memberContact2 != null">#{memberContact2},</if>
		<if test="memberInterest != null">#{memberInterest},</if>
		<if test="memberJob != null">#{memberJob}</if>
		)
	</insert>
	
	<!-- 조회 전체 검색 -->
	<select id="list" resultType="MemberDto">
		select * from member
	</select>
	
	<!-- 상세 -->
	<select id="find" resultType="MemberDto">
		select * from member where
		member_id = #{memberId}
	</select>

	<!-- 비밀번호 변경 -->
	<update id="updatePw">
	    update member 
	    set member_pw = #{memberPw} 
	    where member_id = #{memberId}
	</update>
	
	<!-- 로그인 시간 업뎃 -->
	<update id="updateLogin">
		update member set member_login = CURRENT_TIMESTAMP where member_id = #{memberId}
	</update>
	
	<!-- 이름 -->
	<select id="name" resultType="MemberDto">
		select * from member where member_name = #{memberName}
	</select>
	
</mapper>